/* Created by: Yoochan Han
* Created on: Mar 2024
* This file contains the CSS for index.html
*/
body {
  background-color: aqua;
  color: black;
}
.myimg {
  height: 512px;
  width: 512px;
  position: static;
}
p {
  font-size: 30rem;
  position: relative;
  left: 20px;
}

.mybutton {
  position: relative;
  left: 30px;
}